<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite" parallel="methods" thread-count="2">
  <test name="Regression Tests">
    <classes>
      <class name="testCases.CreateUser"/>
      <class name="testCases.AssignLeave"/>      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
